{
  "algorithm": "csa",
  "parsecpydatafilepath": "/home/userexample/blackscholes_datafile_2018-02-20_16:50:30.dat",
  "resultsfolder": "./",
  "modelcodefilepath": "/home/userexample/csa_modelfunc.py",
  "size": 5,
  "dimension": 7,
  "steps": 50000,
  "update_interval": 1,
  "tgen_initial": 10,
  "tgen_upd_factor": 0.9996,
  "tacc_initial": 0.9,
  "alpha": 0.05,
  "lowervalues": [-2,-2,-10,0,0,0,0],
  "uppervalues": [2,2,10,5,1,1,10],
  "overhead": true,
  "threads": 1,
  "crossvalidation": false,
  "verbosity": 1
}