{
  "algorithm": "pso",
  "parsecpydatafilepath": "/home/userexample/blackscholes_datafile_2018-02-20_16:50:30.dat",
  "modelcodefilepath": "/home/userexample/csa_modelfunc.py",
  "size": 100,
  "w": 1,
  "c1": 1,
  "c2": 4,
  "maxiter": 100,
  "lowervalues": [0,0,0,0,0],
  "uppervalues": [10,10,10,10,10],
  "overhead": false,
  "threads": 1,
  "crossvalidation": false,
  "verbosity": 1
}